/* Showcase */
#showcase .showcase-content {
  padding-top: 11.5rem;
}

/* Home Info */
#home-info {
  height: 26.7rem;
}

/* Service */
#service-info .info-left {
  float: none;
  width: 100%;
  padding-right: 0;
}

#service-info .info-left h3 {
  text-align: center;
}

#service-info .info-right {
  float: none;
  width: 100%;
  padding-left: 0;
}

#service-info .info-right img {
  width: 80%;
  margin: auto;
}

/* Contact Info */
#contact-info {
  margin-top: 23.3rem;
}